comfyui-frontend-package==1.20.7
comfyui-workflow-templates==0.1.23
numpy==1.26.2

tokenizers==0.21.1
aiohttp==3.12.6
yarl==1.20.0
Pillow==11.2.1
tqdm==4.67.1
psutil==7.0.0

decord==0.6.0
einops==0.8.1
huggingface_hub==0.32.3
matplotlib==3.7.0

opencv_python==4.7.0.72
PyYAML==6.0.2
Requests==2.32.3
safetensors==0.5.3
scipy==1.15.3

transformers==4.51.0
accelerate>=0.34.0
wandb==0.19.11
torchsde
dfloat11[cuda12]

#non essential dependencies:
spandrel==0.4.1
soundfile==0.13.1
av==14.4.0
pydantic==2.11.5
gradio==5.32.0
kornia
